[submodule "XEngine/vendor/spdlog"]
	path = XEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "XEngine/vendor/GLFW"]
	path = XEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "XEngine/vendor/glm"]
	path = XEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
